.forefront{
    display: flex;
    justify-content: space-between;
    margin: 5vw;
}

.thumbnail{
    width: 35vw;
    object-fit: cover;
    box-shadow: 0 0 20px black;
}

.info{
    width: 45vw;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(80, 80, 112);
    box-shadow: 0 0 20px black;
}

.info > h1{
    color: white;
    font-size: 250%;
}

@media screen and (max-width: 1000px) {
    .info > h1{
        font-size: 150%;
    }
}

@media screen and (max-width: 640px) {
    .forefront{
        flex-direction: column;
        align-items: center;
    }

    .thumbnail{
        width: 70vw;
        margin-bottom: 5vh;
    }

    .info{
        width: 70vw;
    }
}
